@pas:registry=https://grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/registry/
always-auth=true

//grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/registry/:username=grupoitss
//grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/registry/:_password=${PAS_NPM_TOKEN}
//grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/registry/:email=${PAS_NPM_EMAIL}
//grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/:username=grupoitss
//grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/:_password=${PAS_NPM_TOKEN}
//grupoitss.pkgs.visualstudio.com/PAS/_packaging/pas-npm/npm/:email=${PAS_NPM_EMAIL}
